<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.swathi.Doctorregister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/firstservlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.swathi.Doctorlogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/secondservlet</url-pattern>
</servlet-mapping>
</web-app>